* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --discord-title: #3161e0;
    --discord-logo: #daa520;
    --discord-jumbotron: #00008b;
    --discord-jb: #ee82ee;
    --discord-inv-left: #1e90ff;
    --discord-inv-right: #ffc0cb;
    --discord-community: #d3d3d3;
    --discord-technology: #228b22;
    --discord-info: #23272a;
    --discord-first-info: #f08080;
    --discord-second-info: #20b2aa;
    --discord-end-log: #7fffd4;
    --discord-btn: #ffb6c1;


}

header{
    background-color: var(--discord-title);
    padding: 10px;

    .container{
        width: 80%;
        margin: auto;
    }
    
    .d-flex{
        display: flex;
    }

    .item{  
        flex-grow: 1;
    }

    .item-central{
        flex-grow: 2;
     }

    .item-login{
        text-align: end;
        flex-grow: 1;
    }
    .btn-login{
        padding: 7px;
        border-radius: 13px;
        border: none;
        font-size: 12px;
        background-color: white;
    }

    ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
        color: white;
        font-weight: bold;
        font-size: 15px;
    }
}

.jumbotron{
    min-height: 450px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    color: white;
}

.jb{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 80px;

    h1{
        font-size: 45px;
        padding-bottom: 40px;
    }

    p{
        padding: 0 110px;
        padding-bottom: 20px;
    }

    button{
        border-radius: 20px;
        padding: 10px 15px;
        font-weight: 500;
        border: none; 
    }

    .btn-download{
        background-color: white;
    }

    .btn-open{
        background-color: black;
        color: white;
    }
}

.invite-only{
    display: flex;
    padding: 40px;  
}

.inv-left{
    background-image: url(./img/item1.svg);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: center;
    width: 60%;
    min-height: 400px;
}

.inv-right{
    text-align: left;
    width: 40%;
    min-height: 400px;
    padding: 20px 140px;

    h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
}

.community{
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: var(--discord-community);
}

.com-left{
    width: 40%;
    min-height: 400px;
    text-align: left;
    padding: 80px 140px;

    h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    
}

.com-right{
    width: 60%;
    min-height: 400px;
    background-image: url(./img/item2.svg);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: center;
}

.tech-sec{
    background-color: var(--discord-community);
    padding: 40px;
}

.technology{
    background-color: var(--discord-technology);
    height: 600px;
}

footer{
    background-color: var(--discord-info);
}

.info-flex{
    display: flex;
    min-height: 500px;
    padding: 40px;
}

.item-info{
    background-color: var(--discord-second-info);
    width: 15%;
    min-height: 500px;
    border: 1px solid black;
    
}

.first-info{
    background-color: var(--discord-first-info);
    width: 40%;
    min-height: 500px;
    border: 1px solid black;
}

hr{
    background-color: var(--discord-community);
}

.log-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background-color: var(--discord-end-log);
    margin-top: 20px;
}

.log-item{
    min-width: 70px;
    background-color: var(--discord-btn);
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
}

